.heading-container-mobile {
    display: none;
}

.heading {
  background-image: url(../../assets/white1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100vh;
  position: absolute;
  height: 100%;
  width: 100vw;
  transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

.title {
    margin-top: 10vw;
}

h1 {
    font-size: 5vw;
}

h6 {
    font-size: 3vw;
}

.btn-container {
    margin-bottom: 10vh;
}

.btn {
    /* Structure */
    padding: 15px 80px;

    /* Style */
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}



@media screen and (max-width: 800px) {

    .heading {
        /* Structure */
        background-size: 75vh;
        background-position: top;
        margin-top: 30vh;

        /* Style */
    }

    .btn-container {
        margin-bottom: 20vh;
    }



}