<div class="heading-container">
  <div class="heading carousel-caption d-md-block">
    <div class="title">
      <h6>The</h6>
      <h1>Foothills Climbing Community</h1>
      <p>Climbing Advocacy in the Jefferson County/Denver Area</p>
    </div>
    <div class="soc-links">
      
    </div>
    <div class="btn-container carousel-caption d-md-block">
      <a class="link" routerLink="about" routerLinkActive="active">
          <button class="btn">Who We Are</button>
      </a>
    </div>
  </div>
</div>
