<div class="heading-container">
  <div class="heading carousel-caption d-md-block">
    <div class="title">
      <h6>The</h6>
      <h1>Foothills Climbing Community</h1>
      <p>Climbing Advocacy in the Jefferson County/Denver Area</p>
    </div>
    <div class="btn-container carousel-caption d-md-block">
      <a class="link" routerLink="about" routerLinkActive="active">
          <button class="btn">Who We Are</button>
      </a>
      <div class="social-links">
        <a href="https://www.facebook.com/FoothillsClimbing" class="social-icon-sm si-gray si-gray-round si-facebook" target="_blank">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="https://www.instagram.com/foothillsclimbing/" class="social-icon-sm si-gray si-gray-round si-twitter" target="_blank">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</div>
