/* Mobile View component */
.heading-container-mobile {
    display: none;
}

.heading-container {
    position: absolute;
    height: 100%;
    padding-top: 20px;
}

.heading {
    background-image: url(../../assets/white1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vh;

    height: 100%;
    width: 100vw;

    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    margin-left: 50vw;
    margin-top: 10vh;
}

.title {
    margin-top: 10vh;
}

h1 {
    font-size: 5.5vw;
    font-weight: 700;
    letter-spacing: 1vh;
}

h6 {
    font-size: 3vw;
    font-weight: 300;
}

p {
    font-size: 3vw;
    font-weight: 100;
}

.social-links {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

i {
    color: white;
    margin: 10px;
    font-size: 2rem;
}

.btn-container {
    margin-top: 3vh;
    padding-bottom: 10vh;
}

.btn {
    padding: 15px 80px;
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}

/* Button Effect */

@media screen and (min-width : 700px) {

    .btn:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
        transform: scale(1.01);
      }
      
      .btn:active {
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
        transform: scale(1);
      }
}


@media screen and (max-width: 900px) {

    .heading {
        background-size: 75vh;
        background-position: top;
        margin-top: 10vh;
    }

    .btn-container {
        margin-bottom: 20vh;
    }

    .btn {
        font-size: 0.88rem;
    }

    h1 {
        font-size: 8vw;
        font-weight: bolder;
        letter-spacing: 0.75vh;
    }

}