.navbar {
    background: none;
    border-bottom: 1px solid rgb(26, 138, 166);
    color: rgb(26, 138, 166);
}

button {
    margin-right: 0;
}

.nav-item {
    margin-left: 2vh;

    color: black;
    font-size: .90rem;
}

.link {
    color: rgb(26, 138, 166);
    font-size: 1.4em;
}

.btn {
  padding: 8px 30px;

  background: none;
  border: 2px solid rgb(26, 138, 166);
  border-radius: 40px;
  color: rgb(26, 138, 166);
  font-size: .80rem;
}

/* Button Effect */

.btn:hover {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
  background-color: rgba(90, 192, 121, 0.788);
}

.btn:active {
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}

@media screen and (max-width: 767px) {
    .btn {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .donate-btn{
        display: none;
    }
}
