.navbar {
    /* Structure */

    /* Style */
    background: white;
    border-bottom: 1px solid black;
}

.nav-item {
    /* Structure */
    margin-left: 2vh;

    /* Style */
    color: black;
    font-size: .90rem;
}

.btn {
  /* Structure */
  padding: 8px 30px;

  /* Style */
  background: none;
  border: 2px solid black;
  border-radius: 40px;
  color: black;
  font-size: .80rem;
}

/* Button Effect */

.btn:hover {
  /* Style */
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
}

.btn:active {
  /* Style */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}

@media screen and (max-width: 767px) {
    .btn {
        /* Strucutre */
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .donate-btn{
        /* Structure */
        display: none;
    }
}
