<nav class="navbar sticky-top navbar-expand-md navbar-light">
  <a class="navbar-brand" href="">
    <img class="logo" src="../../assets/logo.png" width="80" height="80" class="d-inline-block align-top" alt="">
  </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="events" routerLinkActive="active" style="color:black">Events/Community</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active" style="color:black">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active" style="color:black">Contact Us</a>
        </li>
        <li class="nav-item donate-btn">
          <a class="nav-link" routerLink="contact" routerLinkActive="active" style="color:black">Donate</a>
        </li>
      </ul>
    </div>

    <button class="btn">Donate</button>

</nav>
