<div class="footer">
  <div class="social-links">
    <a href="https://www.facebook.com/mark.rosenberg.180" class="social-icon-sm si-gray si-gray-round si-facebook" target="_blank">
      <i class="fa fa-facebook"></i>
      <i class="fa fa-facebook"></i>
    </a>
    <a href="https://www.linkedin.com/in/mark-rosenberg-786b60147/" class="social-icon-sm si-gray si-gray-round si-twitter" target="_blank">
      <i class="fa fa-linkedin"></i>
      <i class="fa fa-linkedin"></i>
    </a>
    <a href="https://github.com/mrkrosenberg" class="social-icon-sm si-gray si-gray-round si-g-plus" target="_blank">
      <i class="fa fa-github"></i>
      <i class="fa fa-github"></i>
    </a>
  </div>
  <div class="org-info">
    <p>fhcc shtuff</p>
  </div>
</div>