.footer {
    height: 25vh;
    padding-top: 5vh;

    background-color: rgba(0, 0, 0, 0.75);
    color: white;
}

.social-links {
    width: 100%;
    text-align: center;
}

i {
    color: white;
    font-size: 1.5rem;
    margin: 10px;
}

.org-info {
    width: 100%;
    text-align: center;
}
