.title-container { 
    height: 60vh;
    width: 100%;
    border-bottom: 1px solid rgb(26, 138, 166);
    text-align: center;
    /* padding-top: 20vh; */
    padding: 0;
    background-image: url(../../assets/Abram.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.color {
    padding-top: 20vh;
    height: 100%;
    width: 100%;
    background-color: rgba(118, 233, 118, 0.705);
}

.title {
    color: white;
}

h1 {
    font-size: 5.5vw;
}

.about-details {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/black1.png);
    background-size: 60vh;
    background-position: center;
    background-repeat: no-repeat;
}