.event-card {
    /* Structure */
    display: inline-block;
    height: 50vh;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    
    /* Style */
    background-image: url(../../assets/vandemonium.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid black;
}

.event-card:hover {
  transform: translateY(-1vh);
  box-shadow: 2vh 1vh 40px rgba(0, 0, 0, 0.25);
}

.event-card:active {
  transform: translate(.5vh);
  box-shadow: 1vh 0.5vh 20px rgba(0, 0, 0, 0.25);
}