.event-details {
    width: 100%;
    height: 125vh;
    align-content: center;
    background-image: url(../../assets/black1.png);
    background-size: 80vh;
    background-position: center;
    background-repeat: no-repeat;
}

.event-container {
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h6 {
    display: inline;
}

h6:hover {
    cursor: pointer;
}

.event-card {
    display: inline-block;
    height: 50vh;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgb(26, 138, 166);
}

.one {
    background-image: url(../../assets/aah.jpg);
}

.two {
    background-image: url(../../assets/vandemonium.jpg);
}

.poster-view {
    padding-top: 15vh;
}