<app-title-component [titleObject]="titleObject"></app-title-component>
<div class="contact-details container">
    <div class="email-container container">
        <h3>Email</h3>
        <a href="mailto:foothillsclimbingcommunity@gmail.com">foothillsclimbingcommunity@gmail.com</a>
    </div>
    <hr>
    <div class="social-container">
        <h3>Social Media</h3>
        <!-- <p>Facebook</p> -->
        <a href="https://www.facebook.com/FoothillsClimbing" class="social-icon-sm si-gray si-gray-round si-facebook" target="_blank">
            <i class="fa fa-facebook-square"></i>
        </a>
        <!-- <p>Instagram</p> -->
        <a href="https://www.instagram.com/foothillsclimbing/" class="social-icon-sm si-gray si-gray-round si-twitter" target="_blank">
            <i class="fa fa-instagram"></i>
        </a>
    </div>
</div>
