.contact-details {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/black1.png);
    background-size: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.email-container {
    padding-top: 20vh;
}

a {
    font-size: 2rem;
}

h3 {
    color: rgb(26, 138, 166);
    padding-bottom: 5vh;
}

i {
    font-size: 4rem;
    margin: 10px;
    color: rgb(26, 138, 166);
    background-color: transparent;
}

hr {
    width: 50%;
    margin: 10vh auto;
}

/* @media screen and (min-width : 700px) {

    i:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
        transform: scale(1.01);
      }
      
      i:active {
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
        transform: scale(1);
      }

} */