.contact-details {
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/black1.png);
    background-size: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.email-container {
    padding-top: 20vh;
}

a {
    font-size: 2rem;
}

h3 {
    color: rgb(26, 138, 166);
    padding-bottom: 5vh;
}

i {
    color: rgb(26, 138, 166);
    font-size: 4rem;
    margin: 10px;
}

hr {
    width: 50%;
    margin: 10vh auto;
}