.home-donate {
    /* Structure */
    height: 100vh;
    padding-top: 20vh;

    /* Style */
    background-image: url(../../assets/black1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;
    border-bottom: 1px solid black;
    text-align: center;
}

p {
  /* Structure */
  width: 75vw;
  margin: 5vh 12.5vw 15vh 12.5vw;
}

.btn {
  /* Structure */
  padding: 15px 80px;

  /* Style */
  background: none;
  border: 2px solid black;
  border-radius: 40px;
  color: black;
  font-size: 1.25rem;
}

/* Button Effect */

.btn:hover {
  /* Style */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
}

.btn:active {
  /* Style */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}