<div class="home-donate">
  <div class="donate-heading">
    <h1>Donate Today!</h1>
  </div>
  <div class="donate-content">
    <p>Help ensure access to safe and well-maintained climbing areas along Colorado's beautiful Front Range. 
      It is our unique privilege to live with such an incredible resource right here in our own backyards. 
      These climbing areas need our attention and respect so that we may enjoy them for the long term. Follow the
      link below and get involved today!
    </p>
  </div>
  <div class="btn-container">
    <a class="link" routerLink="donate" routerLinkActive="active">
        <button class="btn">Donate</button>
    </a>
  </div>
</div>