#mc_embed_signup {
    width: 60%;
    padding: 5vh;
    background-color: rgba(26, 138, 166, 0.5);
    border: 2px outset rgb(26, 138, 166);
}

.indicates-required {
    font-size: .5rem;
    color: white;
}

input {
    /* Structure */
    width: 300px;
    margin-top: 5vh;

    /* Style */
}

.btn-container {
    /* Structure */
    margin-top: 15vh;

    /* Style */
}

.button {
    /* Structure */
    padding: 15px 65px;
    
    /* Style */
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}

/* Button Effect */

.button:hover {
  /* Style */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
}

.button:active {
  /* Style */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}