#mc_embed_signup {
    display: inline-block;
    text-align: center;
    width: 80%;
    padding: 5vh;
    background-color: rgba(26, 138, 166, 0.5);
    border: 2px outset rgb(26, 138, 166);
}

.indicates-required {
    font-size: .5rem;
    color: white;
}

.form-input {
    width: 80%;
    margin-top: 5vh;
}

.btn-container {
    margin-top: 15vh;
}

.button {
    text-align: center;
    margin-top: 10vh;
    padding: 15px 65px;
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}

/* Button Effect */

@media screen and (min-width : 700px) {

    .button:hover {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
        transform: scale(1.01);
      }
      
      .button:active {
        box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
        transform: scale(1);
      }

}

