<div class="container-fluid title-container">
    <h1 class="title">
      News & Updates
    </h1>
</div>
<div class="container-fluid news-content">
    <div class="news-options" >
        <div class="story-option" *ngFor="let story of stories" (click)=onStoryChange(story)>
              {{story?.title}}
              <!-- {{story?.description}} -->
      </div>
    </div>
    <div class="news-body">
      {{ story.title }}
      {{ story.description }}
    </div>
</div>

<!-- add story for hiring new board members -->




