<div class="container-fluid title-container">
  <div class="color">
    <h1 class="title">
      News & Updates
    </h1>
  </div>
</div>
<div class="container news-content">
    <div class="news-options" >
        <div class="story-option" *ngFor="let story of stories" (click)=onStoryChange(story)>
              {{story?.title}}
              <!-- <img src="{{story?.image}}" alt=""> -->
      </div>
    </div>
    <div class="news-body">
      {{ story?.title }}
      {{ story?.description }}
    </div>
</div>

<!-- add story for hiring new board members -->




