.title-container {
    background-color: rgba(118, 233, 118, 0.705);
    height: 60vh;
    border-bottom: 1px solid rgb(26, 138, 166);

    text-align: center;
    padding-top: 20vh;
}

.title {
    font-size: 5.5vw;
    color: white;
}

.news-content {
    height: 150vh;
    padding-top: 10vh;

    background-image: url(../../assets/black1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;
    border-bottom: 1px solid rgb(26, 138, 166);
    text-align: center;
    color: rgb(26, 138, 166);
}

.news-options {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.stories {
    margin-top: 20vh;
}

.story-option {
    padding: 0px 50px;
    height: 20vh;
    width: 50px;
    margin: 0 20px;
    border: 1px solid rgb(26, 138, 166);
    display: inline-block;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story1 {
    background-image: url(../../assets/logo.png);
}

.story2 {
    background-image: url(../../assets/bcc.png);
}

.story3 {
    background-image: url(../../assets/wagbags.jpg);
}

.story4 {
    background-image: url(../../assets/highwaysign.jpg);
}

.story5 {
    background-image: url(../../assets/cannonball.jpg);
}

.story6 {
    background-image: url(../../assets/vandemonium.jpg);
}

