.title-container {
    height: 60vh;
    border-bottom: 1px solid rgb(26, 138, 166);
    text-align: center;
    /* padding-top: 20vh; */
    padding: 0;
    background-image: url(../../assets/Abram.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.color {
    padding-top: 20vh;
    height: 100%;
    width: 100%;
    background-color: rgba(118, 233, 118, 0.705);
}

.title {
    font-size: 5.5vw;
    color: white;
}

.news-content {
    height: 150vh;
    width: 75%;
    padding-top: 10vh;
    text-align: center;
    justify-content: center;
    align-content: center;

    background-image: url(../../assets/black1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;
    border-bottom: 1px solid rgb(26, 138, 166);
    /* color: rgb(26, 138, 166); */
}

.news-options {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.story-container {
    height: 30vh;
    width: 35vh;
    display: inline-block;
}

.story-option {
    padding: 0px 50px;
    margin: 0 20px;
    height: 20vh;
    width: 30vh;
    border: 1px solid rgb(26, 138, 166);
    display: inline-block;
    background-image: url(../../assets/black1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.date {
    font-size: .75rem;
    color: gray;
}

.news-body {
    margin-top: 10vh;
}

.content {
    margin-top: 5vh;
    text-align: left;
}


