.title {
    background-color: rgba(118, 233, 118, 0.705);
    height: 60vh;
    border-bottom: 1px solid rgb(26, 138, 166);
}

.news-content {
    /* Structure */
    height: 150vh;
    padding-top: 10vh;

    /* Style */
    background-image: url(../../assets/black1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80vh;
    border-bottom: 1px solid rgb(26, 138, 166);
    text-align: center;
    color: rgb(26, 138, 166);
}

.stories {
    margin-top: 20vh;
}

.story-option {
    padding: 0px 50px;
}

.story1 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url('../../assets/access-fund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story2 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url('../../assets/access-fund.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story3 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url(../../assets/vandemonium.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story4 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url(../../assets/vandemonium.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story5 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url(../../assets/cannonball.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story6 {
    height: 20vh;
    width: 50px;
    display: inline-block;
    background-image: url(../../assets/vandemonium.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

