<div class="container-fluid title-container">
    <h1 class="title">
      News & Updates
    </h1>
</div>
<div class="container-fluid news-content">
  <h1>Add story for hiring new board members</h1>
  <div class="news-options" *ngFor="let story of stories">
    <div class="story-option">
        <!-- {{story.title}}
        {{story.description}} -->
    </div>
  </div>
</div>



   <!-- <div class="story-option story1" (click)="onStoryChange(story1)"></div>
    <div class="story-option story2" (click)="onStoryChange(story2)"></div>
    <div class="story-option story3" (click)="onStoryChange(story3)"></div>
    <div class="story-option story4" (click)="onStoryChange(story4)"></div>
    <div class="story-option story5" (click)="onStoryChange(story5)"></div>
    <div class="story-option story6" (click)="onStoryChange(story6)"></div> -->




      <!-- <div class="stories">
    <div class="story">
      <h4>{{featureStory.title}}</h4>
      <p>{{featureStory.content}}</p>
    </div>
  </div> -->
