<div class="home-about">
  <div class="about-content">
    <div class="row heading">
      <div class="col-md-6">
        <h5>What We Do</h5>
      </div>
    </div>
    <div class="row body">
      <div class="col-md-6">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat iusto non inventore et magnam a? Tempore perspiciatis voluptatum ratione blanditiis accusantium suscipit quidem quasi qui cupiditate doloribus! Pariatur, sequi incidunt.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam repellat error nihil eos nisi explicabo ipsum unde officia fuga corrupti debitis rerum quidem consectetur voluptate, impedit vitae possimus temporibus veritatis.
        </p>
        <div class="btn-container">
          <a class="link" routerLink="about" routerLinkActive="active"></a>
          <button class="btn">More About Us</button>
        </div>
      </div>
    </div>
  </div>
</div>



