.home-about {
    /* Structure */
    height: 90vh;

    /* Style */
    background-image: linear-gradient(to right bottom rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705)),
        url(../../assets/highway2.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.btn {
  /* Structure */
  padding: 15px 80px;
  /* Style */
  background: none;
  border: 2px solid white;
  border-radius: 40px;
  color: white;
  font-size: 1.25rem;
}