<div class="home-about">
  <div class="about-content">
    <div class="row heading">
      <div class="col-md-6">
        <h5>What We Do</h5>
      </div>
    </div>
    <div class="row body">
      <div class="col-md-6">
        <p>
          We are dedicated to maintaining and preserving the climbing resources we have right here in our own backyard.
          Through community events, fundraisers, volunteer efforts and partnerships with local businesses and organizations, The FHCC
          aims to bring people together around one goal: climbing.
        </p>
        <div class="btn-container">
          <a class="link" routerLink="about" routerLinkActive="active">
              <button class="btn">More About Us</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>



