.main {
  background: linear-gradient(to right bottom, rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705));
  height: 50vw;
  margin-bottom: 3vh;
}

.carousel-item {
  height: 50vw;
  z-index: -5;
}

.control {
  z-index: 30;
}
