.main {
  background: linear-gradient(to right bottom, rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705));
  height: 60vw;
  margin-bottom: 3vh;
  border-bottom: 1px solid rgb(26, 138, 166);
}

.carousel-item {
  height: 60vw;
  z-index: -5;
}

.control {
  z-index: 30;
}

.mobile-view {
  display: none;
}


@media screen and (max-width: 800px) {

  .main {
    display: none;
  }

  .mobile-view {
    /* Structure */
    display: block;
    height: 80vh;

    /* Style */
    background-image: linear-gradient(to right bottom, rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705)), 
      url(../../assets/slide1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
  }

  .title {
    height: 100%;
  }

}