.home-events {
    /* Structure */
    height: 90vh;
    width: 100%;

    /* Style */
    text-align: center;
}

.events-heading {
    /* Structure */
    height: 20%;
    margin-top: 10vh;

    /* Style */
}

.events {
    /* Structure */
    display: flex;
    height: 80%;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    /* align-items: center; */
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* Style */
}

@media screen and (max-width : 675px) {

    .events {
        justify-content: initial;
    }

} 