<div class="home-events">
  <div class="events-heading">
    <h1>Events</h1>
  </div>
  <div class="events">
    <a class="link" routerLink="events" routerLinkActive="active">
        <div class="event-card van"></div>
    </a>
    <a class="link" routerLink="events" routerLinkActive="active">
      <div class="event-card aah"></div>
    </a>
  </div>
  <div class="btn-container">
    <a class="link" routerLink="events" routeLinkActive="active">
        <button class="btn">All Events</button>
    </a>
  </div>
</div>
