.home-events {
    /* Structure */
    height: 110vh;
    width: 100%;

    /* Style */
    text-align: center;
    border-bottom: 1px solid black;
}

.events-heading {
    /* Structure */
    height: 20vh;
    margin-top: 10vh;

    /* Style */
}

.events {
    /* Structure */
    display: flex;
    height: 60vh;
    width: 100%;
    margin-top: 0;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* Style */
}

.btn-container {
    /* Structure */
    height: 30vh;
    margin-top: 5vh;

    /* Style */
}

.btn {
    /* Structure */
    padding: 15px 80px;

    /* Style */
    background: none;
    border: 2px solid black;
    border-radius: 40px;
    color: black;
    font-size: 1.25rem;
}

@media screen and (max-width : 675px) {

    .events {
        justify-content: initial;
    }

} 