.donate-details {
    text-align: center;
    padding-top: 10vh;
    height: 100vh;
    width: 100%;
    background-image: url(../../assets/black1.png);
    background-size: 80vh;
    background-position: center;
    background-repeat: no-repeat;
}

.event-card {
    display: inline-block;
    height: 30vh;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    background-image: url(/../assets/BCC-logo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgb(26, 138, 166);
}

.bcc-link-container {
  padding-top: 10vh;
  margin-bottom: 10vh;
}

@media screen and (min-width : 700px) {
        
    .event-card:hover {
      transform: translateY(-1vh);
      box-shadow: 2vh 1vh 40px rgba(0, 0, 0, 0.25);
    }
    
    .event-card:active {
      transform: translate(.5vh);
      box-shadow: 1vh 0.5vh 20px rgba(0, 0, 0, 0.25);
    }
  
  }