<app-title-component [titleObject]="titleObject"></app-title-component>
<div class="donate-details container">
  <h2>Your contributions help fund our efforts!</h2>
  <p>The Foothills Climbing Community would not be what it is today without the support and guidance
    of the Boulder Climbing Community. All of our donations and funding is currently being handled, with great thanks, by the BCC.
    <a href="https://www.boulderclimbers.org/" target="_blank">Click here</a> or the logo below
  to head on over to the BCC website and donate, or better yet, join as a member for some great perks!</p>

  <a href="https://www.boulderclimbers.org/join" target="_blank"><div class="event-card two"></div></a>
    <!-- <div class="event-card two"></div> -->
</div>