.home-blog {
    /* Structure */
    height: 110vh;
    text-align: center;

    /* Style */
    border-bottom: 1px solid black;
}

.blog-heading {
    /* Structure */
    height: 10vh;
    margin-top: 10vh;

    /* Style */
    text-align: center;
}

.blog-section {
    /* Struture */
    height: 60vh;
    width: 100%;
    padding-left: 10vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* Style */
}

.btn-container {
    /* Strucutre */
    height: 30vh;
    margin-top: 15vh;

    /* Style */

}

.btn {
  /* Structure */
  padding: 15px 80px;

  /* Style */
  background: none;
  border: 2px solid black;
  border-radius: 40px;
  color: black;
  font-size: 1.25rem;
}
