<div class="home-blog">
  <div class="blog-heading">
    <h1>Featured Blog Posts</h1>
  </div>
  <div class="blog-section">
    <app-blog-post></app-blog-post>
    <app-blog-post></app-blog-post>
    <app-blog-post></app-blog-post>
    <app-blog-post></app-blog-post>
    <app-blog-post></app-blog-post>
  </div>
  <div class="btn-container">
    <button class="btn">Full Blog</button>
  </div>
</div>





























<!-- blog components will be tall, narrow cards that will overflow-x and scroll through them -->
<!-- add animations to make them buttons -->
<!-- picture on the top, text on the bottom -->



<!-- <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->