.home-blog {
    /* Structure */
    height: 110vh;
    text-align: center;

    /* Style */
    border-bottom: 1px solid rgb(26, 138, 166);
}

.blog-heading {
    /* Structure */
    height: 10vh;
    margin-top: 10vh;

    /* Style */
    text-align: center;
}

.blog-section {
    /* Struture */
    height: 65vh;
    width: 100%;
    padding-left: 10vh;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    /* Style */
}

.btn-container {
    /* Strucutre */
    height: 30vh;
    margin-top: 10vh;

    /* Style */

}

.btn {
  /* Structure */
  padding: 15px 80px;

  /* Style */
  background: none;
  border: 2px solid black;
  border-radius: 40px;
  color: black;
  font-size: 1.25rem;
}

/* Button Effect */

.btn:hover {
  /* Style */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
}

.btn:active {
  /* Style */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}

