.home-subscribe {
     /* Structure */
     height: 70vh;

    /* Parallax Scrolling Background */
    background-image: linear-gradient(to right bottom rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705)),
     url(../../assets/cutloose.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Style */
    text-align: center;
}

.heading {
    /* Structure */
    height: 50%;

    /* Style */
    color: white;
}

.btn {
  /* Structure */
  padding: 10px 40px;
  
  /* Style */
  background: none;
  border: 2px solid black;
  border-radius: 40px;
}