.home-subscribe {
     /* Structure */
     height: 80vh;

    /* Parallax Scrolling Background */
    background-image: linear-gradient(to right bottom rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705)),
     url(../../assets/cutloose.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Style */
    text-align: center;
    border-bottom: 1px solid black;
}

.heading {
    /* Structure */
    height: 50%;

    /* Style */
    color: white;
}

.btn-container {
    /* Structure */
    text-align: center;

    /* Style */
}

.btn {
    /* Structure */
    padding: 15px 80px;
    display: block;
    
    /* Style */
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}