.home-subscribe {
     /* Structure */
     height: 100vh;
     padding-top: 25vh;

    /* Parallax Scrolling Background */
    background-image: linear-gradient(to right bottom rgba(118, 233, 118, 0.705), rgba(118, 233, 118, 0.705)),
     url(../../assets/cutloose.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    /* Style */
    text-align: center;
    border-bottom: 1px solid rgb(26, 138, 166);
}

.heading {
    /* Structure */

    /* Style */
    color: white;
}

input {
    /* Structure */
    width: 300px;
    margin-top: 5vh;

    /* Style */
}

.btn-container {
    /* Structure */
    margin-top: 15vh;

    /* Style */
}

.btn {
    /* Structure */
    padding: 15px 80px;
    
    /* Style */
    background: none;
    border: 2px solid white;
    border-radius: 40px;
    color: white;
    font-size: 1.25rem;
}

/* Button Effect */

.btn:hover {
  /* Style */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.233);
  transform: scale(1.01);
}

.btn:active {
  /* Style */
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.233);
  transform: scale(1);
}