.color {
    height: 100%;
    width: 100%;
    background: rgba(118, 233, 118, 0.705);
    padding-top: 10vh;
}

.home-subscribe {
     height: 110vh;
     text-align: center;

    /* Parallax Scrolling Background */
    background-image: 
     url(../../assets/cutloose.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    border-bottom: 1px solid rgb(26, 138, 166);
}

.heading {
    color: white;
    margin-bottom: 5vh;
}

.form-container {
    text-align: center;
}

